{% extends 'assets/base.html'%}
{% block content %}
    <div class="container">
        <div class="py-5 mt-3 p-3 text-info text-center"></div>
        <div class="row">
            <div class="col-lg-12 shadow-lg">
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div class="card">
                            <div class="card-body homepageCard">
                            <div class="py-3 text-center welcometext">Zab driving School</div>
                                <p class="text-center welcometextparagraph">
                                    We <br>offer the best driving experience
                                </p>
                                <p class="text-center welcometextparagraph">
                                    <a href="#">Join Us</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" height="350" src="/static/cars/car1.png">
                                <div class="card-img-overlay card-inverse text-center textImageOverlay">
                                    <h4>
                                        Text Overlay
                                    </h4>
                                    <div class="card-block">
                                        <a href="#" class="card-link">Link</a>
                                        <p class="card-block">Driving School</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 h3 text-center text-info mt-3">Our Services</div>
        <div class="col-lg-12">
            <div class="row">

                 <div class="col-4 mt-4 shadow-lg p-3">
                     <div class="card">
                         <div class="card-header servicecardheader">
                            <span class="h2 text-white">Category A1</span>  <p class="h3 text-white">license</p>
                         </div>
                         <div class="card-body">
                             <div class="card-title">
                                 <p class="h3">Moped</p>
                             </div>
                             <p class="h5">Ride a motorcycle to and including 50 C.C
                             No passengers allowed
                             Minimum age 16!</p>
                             <a class="btn btn-success btnmessage" href="{%url 'new-application'%}">Apply</a>
                         </div>
                     </div>
                 </div>


               <div class="col-4 mt-4 p-3 shadow-lg">
                     <div class="card">
                         <div class="card-header servicecardheader">
                             <span class="h2 text-white">Category A2</span>  <p class="h3 text-white">license</p>
                         </div>
                         <div class="card-body">
                             <div class="card-title">
                                <p class="h3">Light motorcycle</p>
                             </div>
                             <p class="h5">Ride a motorcycle to and including 100 C.C
                             and above carry maximum load 60kg
                             Minimum age 18 years!</p>
                             <a class="btn btn-success btnmessage" href="{%url 'new-application'%}">Apply</a>
                         </div>
                     </div>
                 </div>
               <div class="col-4 mt-4 p-3 shadow-lg">
                     <div class="card">
                         <div class="card-header servicecardheader">
                             <span class="h2 text-white">Category A1</span>  <p class="h3 text-white">license</p>
                         </div>
                         <div class="card-body">
                             <div class="card-title">
                                 <p class="h3">Automatic Light Vehicle</p>
                             </div>
                             <p class="h5">Can carry to a maximum of seven passengers, drive light
                                 vehicle car with automatic gear box with a maximum Vehicle gross weight 3500kg
                                 with one light trailer
                             Minimum age 18 years</p>
                             <a class="btn btn-success btnmessage" href="{%url 'new-application'%}">Apply</a>
                         </div>
                     </div>
                 </div>

                <div class="col-md-4 p-3 mt-4 shadow-lg">
                     <div class="card">
                         <div class="card-header servicecardheader">
                             <span class="h2 text-white">Category B3</span>  <p class="h3 text-white">license</p>
                         </div>
                         <div class="card-body">
                             <div class="card-title">
                                 <p class="h3">Professional</p>
                             </div>
                             <p class="h5">drive a light vehicle with a gross weight of maximum 3500kg one light trailer
                                 not exceeding 700kg
                             Minimum age 18 years</p>
                             <a class="btn btn-success btnmessage" href="{%url 'new-application'%}">Apply</a>
                         </div>
                     </div>
                     </div>

                    <div class="col-md-4 p-3 mt-4 shadow-lg">
                         <div class="card">
                             <div class="card-header servicecardheader">
                                 <span class="h2 text-white">Category C1</span>  <p class="h3 text-white">license</p>
                             </div>
                             <div class="card-body">
                                 <div class="card-title">
                                     <p class="h3">Light truck</p>
                                 </div>
                                 <p class="h5">Drive light truck with gross vehicle weight exceeding 3500kg and maximum
                                     7500kg one light trailer
                                 Minimum age 18 years</p>
                                 <a class="btn btn-success btnmessage" href="{%url 'new-application'%}">Apply</a>
                             </div>
                         </div>
                     </div>
                </div>

        </div>
    </div>
{% endblock content%}