{% extends 'assets/base.html'%}
{% block content %}
    <div class="container">
        <div class="py-5 mt-3 p-3 text-info text-center"></div>
        <div class="row">
            <div class="col-lg-12 shadow-lg">
                <div class="row">
                    <div class="col-md-6 p-2">
                        <div class="card">
                            <div class="card-body homepageCard">
                            <div class="py-3 text-center welcometext">Zab driving School</div>
                                <p class="text-center welcometextparagraph">
                                    We <br>offer the best driving experience
                                </p>
                                <p class="text-center welcometextparagraph">
                                    <a href="#">Join Us</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 p-2">
                        <div class="card">
                            <div class="card-body">
                                <img class="card-img-top" height="350" src="/static/cars/car1.png">
                                <div class="card-img-overlay card-inverse text-center textImageOverlay">
                                    <h4>
                                        Text Overlay
                                    </h4>
                                    <div class="card-block">
                                        <a href="#" class="card-link">Link</a>
                                        <p class="card-block">Driving School</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="py-5 h3 text-center text-info mt-3">Our Services</div>
        <div class="row">
             <div class="col col-md-12 shadow-lg"> our services</div>
        </div>
    </div>
{% endblock content%}