<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Drive</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'staff' %}">Staff</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'customer' %}">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'vehicle' %}">Vehicles</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'lesson' %}">Lessons</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'request' %}">Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
      </li>
    </ul>
  </div>
</nav>