{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h3 mt-3 text-info">Your Applications</div>
     <div class="float-right">
       <a class="btn btn-primary btn-sm mt-1 mb-1" href="{%url 'new-application'%}">make application</a>
     </div>
    <div class="row">

        <div class="col-md-10 mt-3 p-3 shadow-lg">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">License cat</th>
                  <th scope="col">Type</th>
                  <th scope="col">Duration</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Date Applied</th>
                  <th scope="col">View application</th>
                </tr>
              </thead>
              <tbody>
                {%for x in application%}
                {%if x.student_id == request.user%}
                <tr>
                  <td>{{x.license_type.category}}</td>
                  <td>{{x.license_type.Type}}</td>
                  <td>{{x.license_type.Duration}}</td>
                  <td>{{x.license_type.Fee}}</td>
                  <td>{{x.DateCreated}}</td>
                  <td><a href="{%url 'application-detail' x.id%}" class="btn btn-info">>></a></td>
                </tr>
                {%endif%}
                {%endfor%}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}