{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
  <div class="py-5 text-center mt-3 text-info h3">Add Staff</div>
          <div class="float-right">
             <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'new-JobTitle' %}">Add Job Title</a>
         </div>
  <div class="row">
    <div class="col-md-8 mt-3 p-3 text-center bg-info">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="save">
      </form>
    </div>
  </div>
</div>
{% endblock content %}