{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
  <div class="py-5 text-center mt-3 h3 text-info">Student: {{object.fname}}</div>
    <div class="row">
      <div class="col-md-7 p-3 shadow-lg">
      <div class="card">
          <div class="card-header">
            <label class="h5  ml-3">{{object.fname}}</label>
            <label class="h5 ml-3">{{object.lname}}</label>
            <div class="float-right">
              <a class="btn btn-danger btn-sm mt-1 mb-1" href="#"></a>
             </div>
          </div>
          <div class="card-body">
              <row class="col-sm-6"><label class="h5 ml-4">{{object.phone}}</label></row>
               <row class="col-sm-6"><label class="h5  ml-4">{{object.email}}</label></row>
               <row class="col-sm-6"><label class="h5  ml-4">{{object.License_type}}</label></row>
          </div>
      </div>
      </div>
    </div>

</div>
{% endblock content %}