{%extends 'assets/base.html'%}
{% block content %}
<div class="container">
	<div class="py-5 h3 mt-3 text-danger text-center">Carefull this action is irreversible!!!</div>
<div class="col-md-6 p-3 shadow-lg">
  <div class="card mt-3 p-2">
  	<form method="POST">
  		{% csrf_token %}
  		<fieldset class="form-group">
  			<legend class="border-bottom mb-4">Delete Vehicle</legend>
            <h4>Are you sure to delete vehicle {{object.registrationDetails}}</h4>
  		</fieldset>
  		<div class="from-group">
  			<button class="btn btn-outline-danger" type="submit">Yes, delete</button>
            <a class="btn btn-outline-secondary" href="{%url 'vehicle'%}">Cancel</a>
  		</div>
  	</form>
  </div>
</div>
</div>
{% endblock content %}