{%extends 'assets/base.html'%}
{% block content %}
<div class="container">
  <div class="card">
  	<form method="POST">
  		{% csrf_token %}
  		<fieldset class="form-group">
  			<legend class="border-bottom mb-4">Delete Post</legend>
            <h2>Are you sure to delete vehicle {{object.registrationDetails}}</h2>
  		</fieldset>
  		<div class="from-group">
  			<button class="btn btn-outline-danger" type="submit">Yes, delete</button>
            <a class="btn btn-outline-secondary" href="{%url 'vehicle'%}">Cancel</a>
  		</div>
  	</form>
  </div>
</div>
{% endblock content %}