{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h2 mt-3 mypagetitle">Admin Page</div>
    <div class="row my-2" style="margin: 1px;">


        <div class="col-sm-4 mt-3 p-3">
            <div class="card mycard">
                <div class="card-header">
                <div class="card-title mytitle h4 text-center">vehicles</div>
                </div>
                <div class="card-body">
                    <label class="mylabel h4">Total : {{totalvehicles}}</label>
                     <a href="{% url 'vehicle' %}" class="btn btn-secondary btn-sm mb-1 float-right">view</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 mt-3 p-3">
            <div class="card mycard">
                <div class="card-header">
                <div class="card-title mytitle h4 text-center">services</div>
                </div>
                <div class="card-body">
                    <label class=" mylabel h4">Total : 0</label>
                     <a href="#" class="btn btn-secondary btn-sm mb-1 float-right">view</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 mt-3 p-3">
            <div class="card mycard">
                <div class="card-header">
                <div class="card-title mytitle h4 text-center">Lessons</div>
                </div>
                <div class="card-body">
                    <label class="mylabel h4">Total : {{totallessons}}</label>
                    <a href="{% url 'lesson' %}" class="btn btn-secondary btn-sm mb-1 float-right">view</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 mt-3 p-3">
            <div class="card mycard">
                <div class="card-header">
                <div class="card-title mytitle h4 text-center">Customers</div>
                </div>
                <div class="card-body">
                    <label class="mylabel h4">Total : {{totalcustomers}}</label>
                    <a href="{% url 'customer' %}" class="btn btn-secondary btn-sm mb-1 float-right">view</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 mt-3 p-3">
            <div class="card mycard">
                <div class="card-header">
                <div class="card-title mytitle h4 text-center">Applications</div>
                </div>
                <div class="card-body">
                    <label class="mylabel h4">Total : {{totalrequests}}</label>
                    <a href="{% url 'request' %}" class="btn btn-secondary btn-sm mb-1 float-right">view</a>
                </div>
            </div>

        </div>

        <div class="col-sm-4 mt-3 p-3">
            <div class="card mycard">
                <div class="card-header">
                <div class="card-title mytitle h4 text-center">Staff</div>
                </div>
                <div class="card-body">
                    <label class="mylabel h4">Total : {{ totalstaff }}</label>
                    <a href="{% url 'staff' %}" class="btn btn-secondary btn-sm mb-1 float-right">view</a>
                </div>
            </div>

        </div>


    </div>
</div>
{% endblock content %}