{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h3 mt-3 text-info">View Customers</div>
    <div class="row">
        <div class="col-md-10 mt-3 p-3 shadow-lg">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">phone</th>
                  <th scope="col">email</th>
                  <th scope="col">License Type</th>
                  <th scope="col">View Customer</th>

                </tr>
              </thead>
              <tbody>
              {% for x in customer %}
                <tr>
                  <th scope="row">{{x.customer_id}}</th>
                  <td>{{x.fname}}</td>
                  <td>{{x.lname}}</td>
                  <td>{{x.phone}}</td>
                  <td>{{x.email}}</td>
                  <td>{{x.License_type}}</td>
                    <td><a class="btn bg-info">view>></a> </td>
                </tr>
                {%endfor%}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}