{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h3 mt-3 text-info">View Customers</div>
    <div class="row">
        <div class="col-md-11 mt-3 shadow-lg">
                <div class="card-body cardhead border-top border-bottom border-primary d-flex">
                    <label class="ml-5">Id</label>
                    <label class="ml-5">First Name</label>
                    <label class="ml-5">Second Name</label>
                    <label class="ml-5">Phone No.</label>
                    <label class="ml-5">Email Address</label>
                    <label class="ml-5">License Category</label>
                    <label class="ml-5">
                        <a class="btn btn-primary" href="#">Add customer</a>
                    </label>
                </div>
            {% for x in customer %}
                <div class="card-body border-top border-bottom border-primary d-flex">
                    <label class="ml-5"><a href="#" class="btn btn-primary">{{x.customer_id}}</a></label>
                    <label class="ml-5">{{x.fname}}</label>
                    <label class="ml-5">{{x.lname}}</label>
                    <label class="ml-5">{{x.phone}}</label>
                    <label class="ml-5">{{x.email}}</label>
                    <label class="ml-5">{{x.License_type}}</label>
                    <label class="ml-5"></label>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}