{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h3 mt-3 text-info">View Customers</div>
    <div class="row">
        <div class="col-md-10 mt-3 shadow-lg">
                <div class="card-body d-flex">
                    <label class="ml-2">item1</label>
                    <label class="ml-5">item2</label>
                    <label class="ml-5">item2</label>
                    <label class="ml-5">item2</label>
                    <label class="ml-5">item2</label>>
                </div>
        </div>
    </div>
</div>
{% endblock content %}