{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
  <div class="py-5 text-center mt-3 text-info h3">Register</div>
  <div class="row">
    <div class="col-md-8 mt-3 p-3 text-center shadow-lg bg-info">
      <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-6 col-md-6">
                <label> First Name :</label>
                <input type="text" class="form-control" name="firstname">
            </div>
             <div class="col-6 col-md-6">
                <label> Second Name :</label>
                <input type="text" class="form-control" name="secondname">
            </div>
        </div>
          <div class="row">
            <div class="col-6 col-md-6">
                <label>Username :</label>
                <input type="text" class="form-control" name="username">
            </div>
             <div class="col-6 col-md-6">
                <label>Phone :</label>
                <input type="text" class="form-control" name="phone">
            </div>
        </div>
          <div class="row">
            <div class="col-6 col-md-6">
                <label>Email :</label>
                <input type="text" class="form-control" name="email">
            </div>
             <div class="col-6 col-md-6">
                <label>Date of Birth :</label>
                <input type="date" class="form-control" name="DOB">
            </div>
        </div>
          <div class="row">
            <div class="col-6 col-md-6">
                <label> Password :</label>
                <input type="text" class="form-control" name="password1">
            </div>
             <div class="col-6 col-md-6">
                <label>Confirm Password :</label>
                <input type="password" class="form-control" name="password2">
            </div>
        </div>
        <input class="btn btn-secondary mt-2" type="submit" value="Register">
      </form>
    </div>
  </div>
</div>
{% endblock content %}