{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h3 mt-3 text-info">View Student Applications</div>
    <div class="row">
        <div class="col-md-10 mt-3 p-3 shadow-lg">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Applicant id</th>
                  <th scope="col">username</th>
                  <th scope="col">Email</th>
                  <th scope="col">License Cat</th>
                  <th scope="col">Type</th>
                  <th scope="col">Fee</th>
                  <th scope="col">Date applied</th>
                </tr>
              </thead>
              <tbody>
              {%for x in request%}
                <tr>
                  <td>{{x.student_id.id}}</td>
                  <td>{{x.student_id.username}}</td>
                  <td>{{x.student_id.email}}</td>
                  <td>{{x.license_type.category}}</td>
                  <td>{{x.license_type.Type}}</td>
                  <td>{{x.license_type.Fee}}</td>
                  <td>{{x.DateCreated}}</td>
                </tr>
              {%endfor%}
              </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}