{% extends 'assets/base.html' %}
{% block content %}
<div class="container">
    <div class="py-5 text-center h3 mt-3 text-info">View Vehicles</div>
    <div class="row">
        <div class="col-md-10 mt-3 p-3  shadow-lg">
          <div class="row">
              {% for x in vehicle %}
            <div class="col-md-3 mt-1 p-1 shadow-sm">
              <div class="card">
                  <div class="card-header">
                    <img class="card-img-top" src="/static/cars/car1.png" alt="car image">
                  </div>
                <div class="card-body">
                   <label>Model : {{x.vehicleModel}}</label>
                    <label>Details : {{x.registrationDetails}}</label>
                    <a class="btn btn-primary" href="#">edit>></a>
                </div>
              </div>
            </div>
              {% endfor %}
          </div>
        </div>
    </div>
</div>
{% endblock content %}